

.col-bg-blueviolet { background-color: blueviolet; }
.col-bg-pink { background-color: pink; }
.col-bg-violet { background-color: violet ;}
.col-bg-aqua { background-color: aqua ;} 


h1{
    background-color: powderblue
    


}